body {
  padding: 20px;
  overflow:scroll;
  background-color: rgb(147, 162, 147);
  color: #000000;
  line-height: 1.6;
}

h1 {
  font-weight: 700;
}

h2 {
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff3b;
  border-radius: 12px;
}

.card-body {
  padding: 1.25rem;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.manual-img {
  max-width: 100%;
}

.Return-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px;
  color: white;
  font-size: 18px;
}

.Return-Container button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 48px;
}

.Return-Container button:hover {
  background: none;
  border: none;
  color: rgb(130, 130, 130);
}

@media (min-width: 768px) {
  .manual-img {
    max-width: 70%;
  }
}


@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}